<!DOCTYPE html>
<html>
    <head>
        <title>webtimtro</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/jquery/dist/jquery.min.js">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">

  
    </head>
    <body">
        <div id="wrapper">

            <!-- navbar-->
            <div class=" sticky">
                
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark " >
    
                        <ul class="navbar-nav" style="margin-left :85px;">
                            
                           <li class="nav-item  ">
                              <a class="nav-link"  style="font-size: 17px;"href="trangchu.html";>Trang chủ </a>
                           </li>
                           <li class="nav-item active">
                              <a class="nav-link" style="font-size: 17px; padding-left:20px;padding-right: 20px;" href="dangtin.html">Đăng tin</a>
                           </li>
                           <li class="nav-item ">
                              <a class="nav-link"  style="font-size: 17px; padding-right: 20px;" href="huongdan.html">Hướng dẫn</a>
                           </li>
                           
                        </ul>
                    </nav>
                
            </div>
            <div class="container">
                <div class="col-md-3" style="background-color: rgb(218, 214, 214); margin-left: 0;">
                    <p> <img src="./image/images.jpg" class="img-circle" style="width: 100px; height:100px"  > Tên 
                        số điện thoại<br>
                        Mã thành viên: </p>
                        <button type="button" class="btl btn-danger btn-lg" style="margin-left:70px; margin-bottom:20px;">Đăng tin </button>
                        
                        <ul style="list-style-type: none;">
                            <li><a href=""><i class="fa fa-clock-o" ></i> Lịch sử đăng tin</a></li>
                            <li><a href=""  class="active"><i class="fa fa-pencil-square-o"></i> Sửa đổi thông tin</a></li>
                            <li><a href=""><i class="fa fa-sign-out"></i> Thoát </a></li>
                        </ul>
                </div>   
            
                <div class="col-md-9">
                    <div class="container" style="background-color: darksalmon; width: 100%; text-align: center;">
                    <h1>Cập nhật thông tin cá nhân </h1>
                    </div>
                    <br>
                    <br>
                    
                    <div class="form-group" >
                        <h3>Số điện thoại:</h3>
                        <textarea class="form-control" placeholder="0339105379" rows="1" style="font-size: 18px;width:50%"></textarea>
                    </div>
                    <div>
                        <h3>Tên liên hệ:</h3>
                        <textarea class="form-control" placeholder="MayVu" rows="1"style="font-size: 18px;width:50%"></textarea>
                    </div>
                    <br>
                    <div>
                            <h3>Email:</h3>
                            <textarea class="form-control" placeholder="vumay01@gmail.com" rows="1"style="font-size: 18px;width:50%"></textarea>
                    </div>
<br><br>
                        
                        <h3>Mật khẩu:</h3>
                        <div style="margin-left: 170px;">
                        <a  href="#">Đổi mật khẩu</a>
                    </div>  
                    
                        
                </div>
                
            </div>

        

            <div >
                <section id="footer"></section>
                 <section id="footer-button">
                    <div class="container-pluid">
                        <div class="container">
                            
                            <div class="col-md-4 box-footer" >
                                <h3 class="tittle-footer">Liên hệ</h3>
                                <ul>
                                    <li>
                                        <i class="sp-ic fa fa-mobile" style="font-size:20px"></i>
                                        <a href=""><i></i> 0978331476</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-facebook-square" style="font-size:15px"></i>
                                        <a href=""><i></i> Mai Hoài </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 box-footer">
                                <h3 class="tittle-footer">Hỗ trợ khách hàng </h3>
                               <ul>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>
                                        <a href=""><i></i>  Hỗ trợ đăng tin </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>
                                        <a href=""><i></i> hỗ trợ nạp tiền</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-4" id="footer-support">
                                <h3 class="tittle-footer"> Phương thức thanh toán</h3>
                                <ul>
                                    <li>
                                        
                                        <p><i class="fa fa-home" style="font-size: 16px;padding-right: 5px;"></i> ????????????? </p>
                                        <p><i class="sp-ic fa fa-mobile" style="font-size: 22px;padding-right: 5px;"></i> 123456789</p>
                                        <p><i class="sp-ic fa fa-envelope" style="font-size: 13px;padding-right: 5px;"></i> support@gmail.com</p>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </section>
             </div>    

          </div>      
               

    </body>
        
</html>
