<!DOCTYPE html>
<html>
    <head>
        <title>webtimtro</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/jquery/dist/jquery.min.js">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet"

  
    </head>
    <body">
        <div id="wrapper">

            <!-- navbar-->
            <div class=" sticky">
                
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark " >
    
                        <ul class="navbar-nav" style="margin-left :85px;">
                            
                           <li class="nav-item  ">
                              <a class="nav-link"  style="font-size: 17px;"href="trangchu.html";>Trang chủ </a>
                           </li>
                           <li class="nav-item active">
                              <a class="nav-link" style="font-size: 17px; padding-left:20px;padding-right: 20px;" href="dangtin.html">Đăng tin</a>
                           </li>
                           <li class="nav-item ">
                              <a class="nav-link"  style="font-size: 17px; padding-right: 20px;" href="huongdan.html">Hướng dẫn</a>
                           </li>
                           
                        </ul>
                    </nav>
                
            </div>
            <div class="container">
                <div class="col-md-3" style="background-color: rgb(218, 214, 214); margin-left: 0;">
                    <p> <img src="./image/images.jpg" class="img-circle" style="width: 100px; height:100px"  > Tên 
                        số điện thoại<br>
                        Mã thành viên: </p>
                        <button type="button" class="btl btn-danger btn-lg" style="margin-left:70px; margin-bottom:20px;">Đăng tin </button>
                        
                        <ul style="list-style-type: none;">
                            <li><a href="lichsudangtin.html" ><i class="fa fa-clock-o" ></i> Lịch sử đăng tin</a></li>
                            <li><a href="capnhat.html"><i class="fa fa-pencil-square-o "></i> Sửa đổi thông tin</a></li>
                            <li><a href="index.html"><i class="fa fa-sign-out"></i> Thoát </a></li>
                        </ul>
                </div>   
            
                <div class="col-md-9">
                    <div class="container" style="background-color: darksalmon; width: 100%; text-align: center;">
                         <h1>ĐĂNG TIN MỚI</h1>
                    </div>
                    <br>
                    <br>
                    <div class="container">
                        <h2>ĐỊA CHỈ CHO THUÊ</h2>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h3>Quận/Huyện:</h3>
                                    <select class="form-control" style="width: 100%; height: 40px;font-size: 18px;">
                                        <optgroup label="Tất cả">
                                            <option>Phòng trọ</option>
                                            <option>Nhà ở</option>
                                            <option>Căn hộ/Trung cư</option>
                                            <option>Văn phòng</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h3>Giá tiền:</h3>
                                    <select class="form-control" style="width: 100%; height: 40px;font-size: 18px;">
                                        <optgroup label="Tất cả">
                                            <option>Phòng trọ</option>
                                            <option>Nhà ở</option>
                                            <option>Căn hộ/Trung cư</option>
                                            <option>Văn phòng</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h3>Diện tích:</h3>
                                    <select class="form-control" style="width: 100%; height: 40px;font-size: 18px;">
                                        <optgroup label="Tất cả">
                                            <option>Phòng trọ</option>
                                            <option>Nhà ở</option>
                                            <option>Căn hộ/Trung cư</option>
                                            <option>Văn phòng</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <div class="container">
                                    <div class="form-group">
                                            <h3>Số nhà</h3>
                                            <textarea class="form-control" placeholder="Số nhà" rows="1" style="font-size:18px;"></textarea>
                                    </div>
                            </div>

                            
                        </div>

                        <div class="container">
                            <h2>MÔ TẢ THÔNG TIN</h2>
                            <div class="container">
                                    <div class="form-group">
                                            <h3>Tiêu đề</h3>
                                            <textarea class="form-control" placeholder="Tiêu đề" rows="3" style="font-size:18px;"></textarea>
                                    </div>
                                
                                    <div class="form-group">
                                            <h3>Nội dung mô tả</h3>
                                            <textarea class="form-control" placeholder="Thông tin của bạn" rows="5" style="font-size:18px;"></textarea>
                                    </div>
                                    <div class="form-group">
                                            <h3>Số điện thoại liên hệ</h3>
                                            <textarea class="form-control" placeholder="Số điện thoại của bạn" rows="1" style="font-size:18px; width: 50%;"></textarea>
                                    </div>

                                    <div class="form-group">
                                            <h3>Giá thuê nhà:</h3>
                                            <textarea class="form-control" placeholder="Đồng" rows="1" style="font-size:18px; width: 50%;"></textarea>
                                    </div>

                                    <div class="form-group">
                                            <h3>Diện tích:</h3>
                                            <textarea class="form-control" placeholder="" rows="1" style="font-size:18px; width: 50%;"></textarea>
                                    </div>

                            </div>

                        </div>

                        <div class="container">
                            <h2>HÌNH ẢNH</h2>
                            <div class="container">
                                <div style="border: gray 2px dashed; width: 100%; height: 300px; text-align: center;">
                                    <div ><i class="fa fa-download" style="font-size: 100px; margin-top:100px"></i>
                                        
                                    </div>
                                    <div style="margin-left: 250px ;"><input type="file"></div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                             <button type="button" class="btn btn-success" style="width: 100%; height: 40px; font-size: 18px; margin-top: 25px;">Hoàn tất</button>
                        </div>
                </div>
                
            </div>

        

            <div >
                <section id="footer"></section>
                 <section id="footer-button">
                    <div class="container-pluid">
                        <div class="container">
                            
                            <div class="col-md-4 box-footer" >
                                <h3 class="tittle-footer">Liên hệ</h3>
                                <ul>
                                    <li>
                                        <i class="sp-ic fa fa-mobile" style="font-size:20px"></i>
                                        <a href=""><i></i> 0978331476</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-facebook-square" style="font-size:15px"></i>
                                        <a href=""><i></i> Mai Hoài </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 box-footer">
                                <h3 class="tittle-footer">Hỗ trợ khách hàng </h3>
                               <ul>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>
                                        <a href=""><i></i>  Hỗ trợ đăng tin </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>
                                        <a href=""><i></i> hỗ trợ nạp tiền</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-4" id="footer-support">
                                <h3 class="tittle-footer"> Phương thức thanh toán</h3>
                                <ul>
                                    <li>
                                        
                                        <p><i class="fa fa-home" style="font-size: 16px;padding-right: 5px;"></i> ????????????? </p>
                                        <p><i class="sp-ic fa fa-mobile" style="font-size: 22px;padding-right: 5px;"></i> 123456789</p>
                                        <p><i class="sp-ic fa fa-envelope" style="font-size: 13px;padding-right: 5px;"></i> support@gmail.com</p>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </section>
             </div>    

          </div>      
               

    </body>
        
</html>
