<!DOCTYPE html>
<html>
    <head>
        <title>webtimtro</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/jquery/dist/jquery.min.js">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet"

  
    </head>
    <body">
        <div id="wrapper">
            <!---->
            <!--HEADER-->
            <nav class="navbar navbar-expand-sm bg-light navbar-light " >
    
                    <ul class="navbar-nav" style="margin-left :1100px;">
                        <!-- thông tin thành viên-->
                       <li class="nav-item ">
                            <div class="dropdown">
                                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" style="margin-top:10px; font-size:16px;" >
                                      Quản lý tài khoản
                                    </button>
                                    <div class="dropdown-menu" style="width:150px;">
                                      <a class="dropdown-item" href="#">Lịch sử đăng tin</a>
                                      <a class="dropdown-item" href="#">Thoát</a>
                                    </div>
                                  </div>
                       </li>
                      
                       
                    </ul>
                </nav>
        </div>
           
            <br>
                
                                               
                        <div style="text-align: center;">
                                <img src="../public/image/banner1.png">
                        </div>
                        
            <br><br>
                   
               
            
            <!-- navbar-->
            <div class=" sticky">
                
                    <nav class="navbar navbar-expand-sm bg-dark  navbar-dark " >
    
                        <ul class="navbar-nav" style="margin-left :85px;">
                            
                           <li class="nav-item ">
                              <a class="nav-link"  style="font-size: 17px; " href="trangchu.html">Trang chủ </a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" style="font-size: 17px; padding-left:20px;padding-right: 20px;" href="dangtin.html">Đăng tin</a>
                           </li>
                           <li class="nav-item active">
                              <a class="nav-link"  style="font-size: 17px; padding-right: 20px;" href="#">Hướng dẫn</a>
                           </li>
                           
                        </ul>
                    </nav>
                
                </div>
            </div>
        <div class="container">
            <div class="col-md-3">
                <img src="./image/ad_nhom_fb.jpg" >
            </div>
            <div class="col-md-9">
                <h1 style="font-weight: bold;">Hướng dẫn đăng tin</h1>
                      <p style="font-size:20px">  Chào bạn, sau đây là hướng dẫn sử dụng cho thành viên web site <i><a  href="index.html" style="text-decoration:underline; color:blue ; font-size: 20px;"> phongtrogiare</a></i>
                        
                        <br>Nếu bạn chưa có tài khoản, hãy đăng ký <i> <a style="text-decoration: underline;color:blue;font-size:20px">tại đây</a></i> trước khi bắt đầu đăng tin mới.
                        
                        <br>Nếu đã có tài khoản, sau khi đăng nhập vào website, bạn bấm vào nút<i><a href ="#" style="font-size:25px; color:blue"> ĐĂNG TIN </a></i>để bắt đầu.
                        
                        <br>Khi đăng tin các bạn đọc kỹ mô tả từng bước, nhập đầy đủ và chính xác nội dung cho tin đăng, đặc biệt là mục Giá và Diện tích. Những tin có nội dung hình ảnh rõ ràng, đầy đủ sẽ có tỉ lệ xem cao hơn 50%.
                        
                        <br>Lưu ý khi đăng tin:
                        
                        <br>+ Điền đầy đủ các thông tin bắt buộc vào các ô nhập liệu trong phần đăng tin.
                        
                        <br>+ Phần giá cho thuê, vui lòng nhập chính xác 1 giá duy nhất (Không nhập giá từ ....đến ....) và chọn đúng đơn vị giá là triệu/tháng hoặc nghìn/tháng. Ví dụ bạn cho thuê 3 triệu/tháng thì bạn nhập đủ như sau 3000000 (1 số 3 và 6 số 0)
                        
                        <br>+ Diện tích nhập đúng 1 diện tích duy nhất (Không nhập diện tích từ ....đến ....)
                        
                        <br>+ Sau khi nhập đầy đủ các thông tin, bấm ĐĂNG TIN NGAY và chờ vài giây để tin bạn hiển thị trên website, nếu đăng tin thành công hệ thống sẽ báo bạn đã đăng tin thành công, nếu hệ thống cảnh báo màu đỏ, các ô chọn màu bị sai, vui lòng nhập lại cho chính xác và bấm ĐĂNG TIN NGAY lại.
                        
                        </p>

            </div>

        </div>
   
    <div >
        <section id="footer"></section>
         <section id="footer-button">
            <div class="container-pluid">
                <div class="container">
                    
                    <div class="col-md-4 box-footer" >
                        <h3 class="tittle-footer">Liên hệ</h3>
                        <ul>
                            <li>
                                <i class="sp-ic fa fa-mobile" style="font-size:20px"></i>
                                <a href=""><i></i> 0978331476</a>
                            </li>
                            <li>
                                <i class="fa fa-facebook-square" style="font-size:15px"></i>
                                <a href=""><i></i> Mai Hoài </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 box-footer">
                        <h3 class="tittle-footer">Hỗ trợ khách hàng </h3>
                       <ul>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href=""><i></i>  Hỗ trợ đăng tin </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href=""><i></i> hỗ trợ nạp tiền</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-4" id="footer-support">
                        <h3 class="tittle-footer"> Phương thức thanh toán</h3>
                        <ul>
                            <li>
                                
                                <p><i class="fa fa-home" style="font-size: 16px;padding-right: 5px;"></i> ????????????? </p>
                                <p><i class="sp-ic fa fa-mobile" style="font-size: 22px;padding-right: 5px;"></i> 123456789</p>
                                <p><i class="sp-ic fa fa-envelope" style="font-size: 13px;padding-right: 5px;"></i> support@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </section>
     </div>    

  </div>      
  </body>
  </html>